{% extends "base.html" %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('courses.static', filename='css/courses.css')}}"/>
{% endblock %}
{% block content %}
    <br />

    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>course</th>
          <th>semester</th>
        </tr>
      </thead>
        <tbody>
          {% for course in courses %}
          <tr>
            <td>{{course.id}}</td>
            <td>{{course.name}}</td>
            <td>{{course.semester}}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    {# <button type="button" class="btn-download">download csv</button> #}
    
{% endblock %}