{% extends "base.html" %}
{% block head_local %}
  <link rel="stylesheet" href="{{ url_for('courses.static', filename='css/courses.css')}}"/>
{% endblock %}
{% block content %}
<div id="container-dashboard">
  <div class="container-header">
    <h1>Alle cursussen</h1>
    <div class="courses-table-container">
      <table class="courses-table">
        <thead>
          <tr>
            <th>     </th>
            <th>Cursus</th>
            <th>Periode</th>
            <th>Semester</th>
            <th>Ingeschreven als</th>
            <th>Gepubliceerd</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% if session['user_info']['role'] == 'admin' %}
          <tr>
            <td></td>
            <form method="POST" action="" role="form">
              {{ course_form.hidden_tag() }}
              <td>{{course_form.name(placeholder="naam")}}</td>
              <td>2122</td>
              <td>{{course_form.semester()}}</td>     
              <td></td>
              <td></td>
              <td>{{course_form.submit(class="add-user-btn", method="POST", value="Voeg toe") }}</td>       
            </form>
          </tr>
        {% endif %}
        {% for course in courses%}
          <tr>
            <td></td>
            <td><a href="course/{{course['id']}}/start">{{course['name']}}</a></td>
            <td>2122</td>
            <td>{{course['semester']}}</td>
            <td>
              {% if course['role']=='student' %}
                Cursist
              {% else %}
                {{course['role']}}
              {% endif %}
            </td>
            <td>Ja</td>
            <td>
            {% if session['user_info']['role'] == 'admin' %}
              <form method="POST">
                {{del_course_form.csrf_token}}
                {{del_course_form.course_id(value=course['id'])}}
                {{del_course_form.submit(class="del-user-btn", value="Verwijder")}}
              </form>
            {% endif %}
            </td>
          </tr>
        {% endfor %}  
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}