<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/stylesheets/reset.css" />
    <link rel="stylesheet" href="assets/stylesheets/index.css" />
    <link rel="stylesheet" href="assets/stylesheets/login.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <section class="navigation">
      <div class="top-nav">
        <div class="logo">
          <a href="index.html">
            <img
              src="https://www.vub.be/sites/all/themes/redesign/logo-white.svg"
              alt="logo-vub"
            />
          </a>
        </div>
        <nav>
          <ul class="nav-list">
            <span class="user-nav">
              <li><a href="classes.html">classes</a></li>
              <li><a href="#">courses</a></li>
              <li><a href="#">user</a></li>
            </span>
            <li class="log"><a href="login.html">log</a></li>
          </ul>
        </nav>
      </div>
    </section>
    <br />
    <script>
      $(".message a").click(function () {
        $("form").animate({ height: "toggle", opacity: "toggle" }, "slow");
      });
    </script>

    <div class="login-page">
      <div class="form">
        <label class="switch-form" for="toggle">*</label>
        <input type="checkbox" id="toggle" class="visually-hidden" />
        <div class="switch-label"></div>
        <label class="login_p">Log in</label>
        <label class="create_p">Create account</label>
        <form class="register-form">
          <input type="text" placeholder="name" />
          <input type="password" placeholder="password" />
          <input type="text" placeholder="email address" />
          <button>create</button>
          <!-- <p class="message">Already registered? <a href="#">Sign In</a></p> -->
        </form>
                
        <form class="login-form">
          <input type="text" placeholder="username" />
          <input type="password" placeholder="password" />
          <button class="log-btn">login</button>
          <!-- <p class="message">
            Not registered? <a href="#">Create an account</a>
          </p> -->
        </form>
      </div>
    </div>
  </body>
</html>
