{% extends "base.html" %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('courses.static', filename='css/courses.css')}}"/>
{% endblock %}
{% block content %}
    <br />

    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>course</th>
          <th>semester</th>
          <th></th>
        </tr>
      </thead>
        <tbody>
          {% if session['role']=='admin'%}
          <tr class="form-row">
            <form class="course-form" method="POST" action="" role="form">
              {{ form.hidden_tag() }}
              <td>{{form.id(size=5)}}</td>
              <td>{{form.course(size=20)}}</td>
              <td>{{form.semester(size=20)}}</td>     
              <td>{{form.submit(class="add-btn", method="POST") }}</td>       
            </form>
          </tr>
          {% endif %}
          {% for course in courses %}
          <tr>
            <td>{{course.id}}</td>
            <td>{{course.name}}</td>
            <td>{{course.semester}}</td>
            {% if session['role']=='admin'%}
            <td>
              <form action={{"/courses/delete/" ~ course.id}} method ="POST"> 
                  <input method="POST" type="submit" value="delete">
              </form>
              {# <a href={{"/courses/delete/" ~ course.id}}> <button type="button" class="btn-delete-course">delete</button> #}
            </td>
            {% endif %}
            {% if session['role'] in ['student', 'teacher']%}
            <td></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
    </table>
    {# <button type="button" class="btn-download">download csv</button> #}
    
{% endblock %}