<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/stylesheets/main.css" />
    <link rel="stylesheet" href="assets/stylesheets/index.css" />
    <title>Styles conference</title>
  </head>
  <body>
    <header>
      <h1 class="H1" id="top">Styles conference</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, atque.
      </p>

      <nav>
        <a href="schedule.html">schedule</a>
        <a href="courses.html">courses</a>
        <a href="user.html">user</a>
      </nav>
    </header>
    <br />
    <section>
      <a href="headings.html">
        <h2 class="H2">Heading 2</h2>
      </a>
      <p>
        <a href="https://google.com" id="shayhowe" target="_blank">google</a>
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat,
        recusandae, repellendus ipsam earum explicabo atque quis reiciendis at
        repudiandae enim tempore quae velit adipisci, aperiam dignissimos illo?
        Maiores tempore animi nobis cumque illum doloribus facere eum expedita
        dolorum deserunt ratione doloremque amet harum optio, repellat incidunt
        ipsum dolores nemo quae illo. Nobis, maxime distinctio ratione
        repellendus, iusto autem qui neque minima voluptatum veniam praesentium
        similique ut sint! Sunt maxime autem excepturi corrupti vitae laboriosam
        corporis nisi quasi veniam id ad laborum blanditiis voluptate
        cupiditate, ipsa nostrum alias! Magni accusamus repellat officia ad
        facilis autem sunt hic ipsa, quibusdam tempora maiores soluta neque
        vitae architecto amet possimus rem eveniet obcaecati id. Voluptatem
        dolore omnis quibusdam. Assumenda culpa labore ut aliquid, sunt
        delectus. Doloribus autem eligendi illo. Dolores sequi maxime impedit
        nobis repellat vero sunt dignissimos saepe quod assumenda inventore
        doloremque adipisci tenetur, illum aut commodi, culpa velit deleniti
        modi distinctio odio rem voluptas. Doloremque assumenda est architecto
        quisquam, corporis reiciendis, nam debitis ipsam porro deleniti atque.
        Aliquam aperiam aliquid molestias. Nihil enim ipsum officiis
        exercitationem suscipit beatae a assumenda recusandae rerum molestias
        error ea aliquid, dolorem perferendis cupiditate ex delectus vel,
        doloribus possimus sunt natus quasi optio libero nulla! Voluptatem
        recusandae culpa fugit quisquam perferendis quae ullam pariatur
        aspernatur non excepturi nesciunt quibusdam sequi, numquam amet mollitia
        corrupti blanditiis in ex expedita quis at provident odit quod! Sapiente
        tempora neque numquam, consectetur voluptas dignissimos nisi ex aperiam
        architecto. Maiores soluta ut, quibusdam, eum aliquam magnam dolore sed
        ducimus quaerat, nisi aperiam harum inventore necessitatibus ratione
        quae doloremque molestiae! Atque rem in asperiores numquam aliquid
        maiores voluptatibus voluptas dignissimos facilis sunt dolore incidunt,
        distinctio tempore ducimus expedita vel voluptates ullam quod
        consectetur impedit quam. Voluptatum illo iusto voluptates ipsa laborum
        dolorem ad laboriosam sit quaerat, reprehenderit, atque, expedita
        molestias? Distinctio aperiam quaerat fugit ea, cupiditate consequatur
        non accusantium officia? Rerum architecto, delectus aliquam nulla
        corrupti inventore doloribus, officia, corporis tempore cumque id
        similique totam. Ipsa doloremque ab est sed fugiat ad, nisi laborum,
        neque veniam expedita recusandae totam facilis architecto similique sunt
        porro ipsum itaque, aliquam voluptatum praesentium eveniet ipsam cumque
        tempora. Soluta magni, enim ullam, obcaecati sit a tempora asperiores,
        omnis reprehenderit esse quis natus? Ut voluptatibus optio doloremque
        error, nam nulla ipsam culpa a ullam. Animi sapiente inventore molestias
        accusantium magni neque. Eveniet, est exercitationem. Cumque tempore
        quia explicabo ab consequuntur molestiae modi corporis facilis? Rerum
        autem iure deserunt commodi, rem libero hic nam facere quo perferendis
        voluptas sunt id animi, laborum doloribus! Facilis tempora error
        exercitationem ducimus culpa aut sequi voluptatem dolore, fugiat ratione
        consectetur voluptates praesentium quaerat quod nisi eaque autem
        nesciunt ipsa, molestiae vel qui doloremque atque. Eum explicabo
        consequatur ducimus quia rerum sapiente fuga voluptate tempore. Enim
        illo deleniti a error! Porro, asperiores voluptates in mollitia suscipit
        praesentium repudiandae laudantium voluptate iure magnam labore cum
        minus aspernatur, molestiae pariatur doloribus, numquam quidem nisi
        deleniti fugiat quas. Laborum reprehenderit atque quos debitis minus aut
        sunt consequuntur, itaque minima ratione est quo veniam eum maxime
        aliquam saepe sint impedit, quisquam rerum officia aspernatur commodi,
        eaque voluptates. Hic perferendis molestias commodi rem porro dolores
        voluptas reiciendis labore facilis assumenda? Quae aut consequuntur
        exercitationem temporibus alias! Adipisci ipsam quia soluta repellat
        voluptatem, expedita, possimus id mollitia rerum perferendis odit ad
        veniam blanditiis reprehenderit totam quas voluptas tenetur error
        consequatur molestias aliquid, culpa magni dolores. Amet mollitia
        excepturi molestias optio eum ducimus rerum aspernatur, quos eos autem,
        expedita inventore totam aperiam! Officia enim cupiditate sed dolor,
        nulla, ex quo recusandae fugit veritatis assumenda voluptas natus
        incidunt aut odit rerum in placeat consequuntur perspiciatis voluptates
        tempora! Dolore reiciendis quos minima. Officiis necessitatibus
        provident illum cupiditate, autem assumenda debitis, reprehenderit eaque
        tempore nulla iste aspernatur veritatis vero ipsum magnam architecto
        nobis est? Eos saepe sed, autem nobis modi magnam a explicabo atque,
        fuga pariatur, aspernatur dicta voluptate vel vero dolor molestiae.
        Laboriosam nisi a deserunt laborum cupiditate maiores vero ex beatae id
        recusandae, cumque quae corrupti itaque, optio iure, atque doloribus.
        Expedita sint enim explicabo molestias facere tenetur nam porro ducimus,
        pariatur repudiandae, molestiae suscipit reprehenderit magnam omnis
        doloribus necessitatibus rem voluptate itaque vel quasi? Mollitia quae
        perspiciatis aut? Labore, molestias deserunt? Dolore labore facilis unde
        suscipit tempore temporibus minus voluptatum, molestiae harum laborum
        quis, obcaecati eum cumque voluptatem animi quidem totam. Sint corporis
        cupiditate quis rem est vero minus consequatur itaque sed! Quidem
        cupiditate, tenetur exercitationem eius consequatur blanditiis natus
        eaque, minus atque recusandae quod ullam fuga inventore sed libero!
        Laboriosam, quidem exercitationem dignissimos, natus quod corrupti
        veniam molestias at modi facilis velit libero expedita! Quis facere
        saepe libero perferendis maiores in quod necessitatibus eligendi minus
        distinctio quae earum expedita porro tempora quisquam a quam, dolorum
        placeat praesentium nisi pariatur culpa? Consequatur cum a repellendus
        ipsum, quaerat, culpa suscipit quos est fugit rerum cupiditate
        voluptates quas, modi nemo natus dicta quia beatae.
      </p>
      <a href="#top">back to top</a>
    </section>
    <br />
    <footer>
      <div class="contact">
        <p>Name: Pablo Emilio Escobar</p>
        <p>Location: Ask the fbi</p>
        <p>mail <a href="mailto:pablo@gmail.com?subject=reach%20me">me</a></p>
        <p><strong>PS:</strong><em>do not track me.</em></p>
        <br />
        <small>&copy; valigatotuS</small>
      </div>
    </footer>
  </body>
</html>
