<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/stylesheets/reset.css" />
    <link rel="stylesheet" href="assets/stylesheets/index.css" />
    <link rel="stylesheet" href="assets/stylesheets/login.css">
    <title>Dashboard</title>
  </head>
  <body>
    <section class="navigation">
      <div class="top-nav">
        <div class="logo">
          <a href="index.html">
            <img
              src="https://www.vub.be/sites/all/themes/redesign/logo-white.svg"
              alt="logo-vub"
            />
          </a>
        </div>
        <nav>
          <ul class="nav-list">
            <li><a href="#">classes</a></li>
            <li><a href="#">courses</a></li>
            <li><a href="#">user</a></li>
            <li class="log"><a href="#">log</a></li>
          </ul>
        </nav>
      </div>
    </section>
    <br />
    <div class="login-page">
      <div class="form">
        <form class="register-form">
          <input type="text" placeholder="name"/>
          <input type="password" placeholder="password"/>
          <input type="text" placeholder="email address"/>
          <button>create</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form">
          <input type="text" placeholder="username"/>
          <input type="password" placeholder="password"/>
          <button>login</button>
          <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
      </div>
    </div>

  </body>
</html>
