<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/stylesheets/reset.css" />
    <link rel="stylesheet" href="assets/stylesheets/index.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <section class="navigation">
      <div class="top-nav">
        <div class="logo">
          <a href="index.html">
            <img
              src="https://www.vub.be/sites/all/themes/redesign/logo-white.svg"
              alt="logo-vub"
            />
          </a>
        </div>
        <nav>
          <ul class="nav-list">
            <span class="user-nav">
              <li><a href="classes.html">classes</a></li>
              <li><a href="#">courses</a></li>
              <li><a href="#">user</a></li>
            </span>
            <li class="log"><a href="login.html">log</a></li>
          </ul>
        </nav>
      </div>
    </section>
    <br />
    <article>
      <h2>Home</h2>
      <br />
      <p>This is a website in developpment</p>
    </article>
  </body>
</html>
