{% extends "base.html" %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('courses.static', filename='css/courses.css')}}"/>
{% endblock %}
{% block content %}
    <br />

    <table class="table">
      <thead>
        <tr>
          <th>date</th>
          <th>course</th>
          <th>class</th>
          <th>time</th>
          <th>duration</th>
          <th>location</th>
        </tr>
      </thead>
        <tbody>
          {% for class in classes %}
          <tr>
            <td>{{class.date}}</td>
            <td>{{class.course}}</td>
            <td>{{class.info}}</td>
            <td>{{class.time}}</td>
            <td>{{class.duration}}'</td>
            <td>{{class.location}}</td> 
          </tr>
          {% endfor %}
        </tbody>
    </table>
    {# <button type="button" class="btn-download">download csv</button> #}
{% endblock %}