{% extends "base.html" %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('courses.static', filename='css/courses.css')}}"/>
{% endblock %}
{% block content %}
    <br />

    <table class="table">
      <thead>
        <tr>
          <th>date</th>
          <th>course</th>
          <th>class</th>
          <th>time</th>
          <th>duration</th>
          <th>location</th>
          <th></th>
        </tr>
      </thead>
        <tbody>
          {% for class in classes %}
          <tr>
            <td>{{class.date}}</td>
            <td>{{class.course}}</td>
            <td>{{class.info}}</td>
            <td>{{class.time}}</td>
            <td>{{class.duration}}'</td>
            <td>{{class.location}}</td>
            {% if session['role']=='student'%}
            <td>
              <a href={{"classes/attend/" ~ class.id}}>
                <button type="button" class="btn-attend" href="pp">attend</button>
              </a>
            </td>
            {% endif %}
            {% if session['role']=='admin'%}
            <td></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
    </table>
    {# <button type="button" class="btn-download">download csv</button> #}
{% endblock %}