@import url(https://fonts.googleapis.com/css?family=Roboto:300);

:root {
  --theme-color1: rgb(255, 255, 255);
  --theme-color2: rgb(0, 0, 0);
  --nav-height: 70px;
}

* {
  font-family: "Roboto", sans-serif;
}

.navigation {
  height: var(--nav-height);
  background: var(--theme-color2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 36px;
}

.logo {
  width: calc(var(--nav-height) * 2.825);
  position: relative;
  padding-left: 20px;
  float: left;
  line-height: 90px;
}

.top-nav nav {
  float: right;
}

.top-nav nav ul li {
  float: left;
  position: relative;
}

.top-nav nav ul li a {
  display: block;
  line-height: var(--nav-height);
  padding: 0 20px;
  color: var(--theme-color1);
  text-decoration: none;
  text-transform: uppercase;
  font-size: calc(var(--nav-height) / 4);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: 1px solid transparent;
}

.top-nav nav ul li a:hover {
  background-color: var(--theme-color1);
  color: var(--theme-color2);
  border: 1px solid #5f688b;
  border-radius: 4px;
  scale: 1.1;
}

.log {
  float: inline-end;
  margin-left: 150px;
  margin-right: 25px;
}

.message {
  text-align: center;
  border: 1px solid #e28383;
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
  width: 300px;
  height: 20px;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  animation: cssAnim 0s 4s forwards;
  visibility: visible;
}

@keyframes cssAnim {
  to {visibility: hidden;}    
}