<section class="navigation">
  <div class="top-nav">
    <div class="logo">
      <a href="/">
        <img
          src="https://www.vub.be/sites/all/themes/redesign/logo-white.svg"
          alt="logo-vub"
        />
      </a>
    </div>
    <nav>
      <ul class="nav-list">
        <span class="user-nav">
          <li><a href="classes">classes</a></li>
          <li><a href="courses">courses</a></li>
          <li><a href="user">user</a></li>
        </span>
        <li class="log">
          <a href="sign-in">log {% if current_user.is_authenticated %} out{% endif %}</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
